.masthead {
    height: 100vh;
    min-height: 800px;
    background-image: url('assets/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: -1;
}

.product-holder {
    position: relative;
    display: block;
}

.plus-image {
    left: 50%;
    top: 50%;
    position: absolute;
    margin-top: -25px;
    margin-left: -25px;
}

#contact {
    font-family: 'Teko', sans-serif;
    padding-top: 60px;
    width: 100%;
    width: 100vw;
    height: 550px;
    background: #3a6186;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #3a6186, #89253e);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient( to left, #3a6186, #89253e);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff;
}

.contact-section {
    padding-top: 40px;
}

.contact-section .col-md-6 {
    width: 50%;
}

.form-line {
    border-right: 1px solid #b29999;
}

.form-group {
    margin-top: 10px;
}

label {
    font-size: 1.3em;
    line-height: 1em;
    font-weight: normal;
}

.form-control {
    font-size: 1.3em;
    color: #080808;
}

textarea.form-control {
    height: 135px;
    /* margin-top: px;*/
}

.submit {
    font-size: 1.1em;
    float: right;
    width: 150px;
    background-color: transparent;
    color: #fff;
}

section {
}

header,
footer {
    padding: 0;
}

.navbar-nav li.nav-item a.nav-link {
    text-transform: uppercase;
    font-weight: bold;
    color: #420042;
}

.navbar {
    padding-top: 0;
}

.navbar-brand {
    margin-top: 0;
    padding-top: 0;
}

.event-date {
    color: #420042;
    font-size: 2.4em;
    font-weight: bold;
}

.my-flex-container {
    width: 100%;
}

.my-flex-item {
}

.mr-4 {
    margin-right: 1.5rem;
    color: #fff;
}

#agenda,
#speakers,
#venue,
#contact_us {
    background-color: #e6e6e6;
    padding: 2rem 0;
}

#partners {
    background-image: url('assets/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* White Chevron */
#about,
#tickets {
    position: relative;
    padding: 60px 0;
}

#about:before,
#tickets:before {
    content: '';
    position: absolute;
    top: -60px;
    width: 0;
    height: 0;
    border-bottom: 60px solid #fff;
    border-right: 70vw solid transparent;
}
#about:after,
#tickets:after {
    content: '';
    position: absolute;
    top: -60px;
    right: 0;
    width: 0;
    height: 0;
    border-bottom: 60px solid #fff;
    border-left: 30vw solid transparent;
}
/* White Chevron */

/* Grey Chevron */
#speakers,
#partners {
    position: relative;
    padding: 60px 0;
    
}

#speakers:before {
    content: '';
    position: absolute;
    top: -60px;
    width: 0;
    height: 0;
    border-bottom: 60px solid #e6e6e6;
    border-right: 70vw solid transparent;
}
#speakers:after {
    content: '';
    position: absolute;
    top: -60px;
    right: 0;
    width: 0;
    height: 0;
    border-bottom: 60px solid #e6e6e6;
    border-left: 30vw solid transparent;
}
/* Grey Chevron */

/* Reverse White Chevron */
#partners {
    position: relative;
    padding-top: 60px;
}

#partners:before {
    content: '';
    position: absolute;
    top: 0px;
    width: 0;
    height: 0;
    border-top: 60px solid #fff;
    border-right: 70vw solid transparent;
}

#partners:after {
    content: '';
    position: absolute;
    top: 0px;
    right: 0;
    width: 0;
    height: 0;
    border-top: 60px solid #fff;
    border-left: 30vw solid transparent;
}
/* Reverse White Chevron */

/* Opposite Grey Chevron */
#venue {
    position: relative;
    padding: 60px 0;
    
}

#venue:before {
    content: '';
    position: absolute;
    top: -60px;
    width: 0;
    height: 0;
    border-bottom: 60px solid #e6e6e6;
    border-right: 30vw solid transparent;
}

#venue:after {
    content: '';
    position: absolute;
    top: -60px;
    right: 0;
    width: 0;
    height: 0;
    border-bottom: 60px solid #e6e6e6;
    border-left: 70vw solid transparent;
}
/* Opposite Grey Chevron */
#venue .container p {
	font-weight: bold;
    font-size: 1.4em;
}

#venue .container p a.email {
	color: #e6e6e6;
	font-weight: bold;
    font-size: 1em;
}

#venue .container p .btn-light {
	background-color: #fff;
	border-color: #fff;
}

#venue .container p .btn-outline-light {
	border-color: #fff;
}

#venue .container p a.register {
	font-weight: bold;
}

footer.page-footer {
	overflow: hidden;
	margin-top: 1rem;
	background-color: #e6e6e6;
	color: #000000;
}

footer.page-footer {
}

footer.page-footer a {
}