.masthead {
    height: 100vh;
    min-height: 500px;
    background-image: url('assets/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.product-holder {
    position: relative;
    display: block;
}

.plus-image {
    left: 50%;
    top: 50%;
    position: absolute;
    margin-top: -25px;
    margin-left: -25px;
}

#contact {
    font-family: 'Teko', sans-serif;
    padding-top: 60px;
    width: 100%;
    width: 100vw;
    height: 550px;
    background: #3a6186;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #3a6186, #89253e);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient( to left, #3a6186, #89253e);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff;
}

.contact-section {
    padding-top: 40px;
}

.contact-section .col-md-6 {
    width: 50%;
}

.form-line {
    border-right: 1px solid #b29999;
}

.form-group {
    margin-top: 10px;
}

label {
    font-size: 1.3em;
    line-height: 1em;
    font-weight: normal;
}

.form-control {
    font-size: 1.3em;
    color: #080808;
}

textarea.form-control {
    height: 135px;
    /* margin-top: px;*/
}

.submit {
    font-size: 1.1em;
    float: right;
    width: 150px;
    background-color: transparent;
    color: #fff;
}

section {
    padding: 2rem 0;
}

header,
footer {
    padding: 0;
}

.navbar-nav li.nav-item a.nav-link {
    text-transform: uppercase;
    font-weight: bold;
    color: #420042;
}

.navbar {
    padding-top: 0;
}

.navbar-brand {
    margin-top: 0;
    padding-top: 0;
}

.event-date {
    color: #420042;
    font-size: 2.4em;
    font-weight: bold;
}

.my-flex-container {
    width: 100%;
}

.my-flex-item {
}

.mr-4 {
    margin-right: 1.5rem;
    color: #fff;
}

#agenda .container,
#tickets .container,
#venue .container,
#contact_us .container {
	background-color: whitesmoke;
}

footer.page-footer .footer-copyright {
	overflow: hidden;
	margin-top: 10px;
	background-color: #e6e6e6;
	color: #000000;
}

footer.page-footer {
	color: #fff;
}

footer.page-footer a {
}